# This is an **example** API to demontstrate features of OpenAPI specification.
# It doesn't cover all OpenAPI features. For more full example check out: https://github.com/APIs-guru/petstore_extended

swagger: '2.0'
# You should specify common part of your endpoints in the following format:
#   <schemes>://<host><basepath>
schemes:
  - http # Remove if your API doesn't support HTTP
  # - https # Remove if your API donsn't support HTTPS
host: zhidan.site # Replace with your hostname. You can also specify port e.g. example.com:777
basePath: /api/v1 # Replace with your basePath. Note: SHOULD begin with '/'.
info:
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    This is a Zhidan System API documents created with OpenAPI specification.
   
  version: '1.0.0' # Your API version
  # It can be any string but it is better to use semantic versioning: http://semver.org/
  # Warning: OpenAPI require version to be string, but without quotation YAML can recognize it as number.

  title: Zhidan System # Replace with your API title
  # Keep it simple. Don't add "API" or verison at the end of the string.

  # termsOfService: 'https://example.com/terms/' # [Optional] Replace with an URL to your ToS
  
  # contact:
  #   email: contact@example.com # [Optional] Replace with your contact email
  #   url: 'http://example.com/contact' # [Optional] Replace with link to your contact form
  
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://raw.githubusercontent.com/Zhidan-System/Dashboard/master/assets/images/logo.jpg'
externalDocs:
  description: 知单(Zhidan)智慧餐厅系统，为食客与后厨提供高效的下单通道。
  url: 'https://github.com/Zhidan-System/Dashboard'
produces:
  # List of mime types your API endpoins can return.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not used in your API
  - application/json
  - application/xml
  - text/csv
  # you can add any mime type your API produces to the list
consumes:
  # List of mime types your API endpoins consumes.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not supported by your API
  - application/json
  - application/xml
  # you can add any mime type your API consumes to the list

# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: Restaurant
    description: 餐厅信息
  - name: Session
    description: 登录会话状态
  - name: Category
    description: 品类
  - name: Dish
    description: 单品
# Security scheme definitions that can be used across the specification.

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
  /restaurant:
    get:
      tags:
        - Restaurant
      summary: 获取餐厅账户信息
      parameters:
        - in: query
          name: number
          type: string
          required: true
          description: manager's number
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Restaurant"
        400:
          description: Bad Request
        500:
          description: Internal Server Error
    post:
      tags:
        - Restaurant
      summary: 注册餐厅
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: number
          type: string
          required: true
          description: manager's number
        - in: formData
          name: password
          type: string
          required: true
          description: manager's password
        - in: formData
          name: restaurant_name
          type: string
          required: true
          description: restaurant's name
      responses:
        201:
          description: OK
        400:
          description: Bad Request
        500:
          description: Internal Server Error
  /session:
    post:
      tags:
        - Session
      summary: 账户密码登录餐厅
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: number
          type: string
          required: true
          description: manager's number
        - in: formData
          name: password
          type: string
          required: true
          description: manager's password
      responses:
        201:
          description: OK
        400:
          description: Bad Request
        500:
          description: Internal Server Error
    get:
      tags:
        - Session
      summary: 检查登录状态
      consumes:
        - application/x-www-form-urlencoded
      responses:
        200:
          description: OK
        400:
          description: No login
        500:
          description: Internal Server Error
    delete:
      tags:
        - Session
      summary: 登出
      consumes:
        - application/x-www-form-urlencoded
      responses:
        200:
          description: OK
        400:
          description: No login
        500:
          description: Internal Server Error
  /category:
    get:
      tags:
        - Category
      summary: 获取所有品类
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: query
          name: number
          type: string
          required: true
      responses:
        200:
          description: OK
        400:
          description: No login
        500:
          description: Internal Server Error
  /dish:
    get:
      tags:
        - Dish
      summary: 获取单品信息
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: query
          name: number
          type: string
          required: true
        - in: query
          name: category
          type: string
      responses:
        200:
          description: OK
        400:
          description: No login
        500:
          description: Internal Server Error
definitions:
  Restaurant:
    type: object
    properties:
      manager_number:
        type: string
        description: manager's number
      restaurant_name:
        type: string
        description: restaurant's name
      description:
        type: string
        description: restaurant's brief description
      image_id:
        type: string
        description: restaurant's picture
      restaurant_number:
        type: string
        description: restaurant's number